@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.topheader-bg {
  background-color: #5a871d;
}
.logo {
  font-family: "Poppins", sans-serif;
}
.logo img {
  margin-right: 5px;
}
.logo h4 {
  font-size: 35px;
  color: #fff;
}
.search-bar {
  background-color: #fff;
  padding: 5px 10px;
  width: 550px;
  margin-left: -20px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}

.search-bar h3 a {
  color: black;
}
.search-bar input {
  border: none;
  outline: none;
  background: none;
}
.header-icons h3 a {
  color: white;
  margin-left: 8px;
}
